/*Common specific defined class for a set of css styles*/
.box {
    background-color: red;
    padding: 10px;
    text-align: center;
}

/*Separate Utility class for background color*/
.bg-red {
    background-color: red;
}

/*Separate Utility class for padding*/
.p-10 {
    padding: 10px;
}

/*Separate Utility class for center text*/
.text-center{
    text-align: center;
}